<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinamic HTML</title>
</head>
<body>
    <h2>Hola este es un template definido paara uso dinamico</h2>
    <h3>Hola {{name}}</h3>
    <p>Categoria: {{categories}}</p>
    <ul>
        {#Comentario python#}
        {% comment %}
            Comentario Multinlinea python dentro de html
        {% endcomment%}
        {% for categ in categories%}
        <li>{{categ|upper}}</li>
        {% endfor%}
        <h4>Toal de Categorias: {{categories|length}}</h4>
    </ul>
</body>
</html>